body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.form-group {
  width: 20px;
  margin: 0px auto;
}

.input-group {
  width: 20px;
  margin: 0px auto;
}

.centered {
  text-align: center
}

.weather {
  margin-top: 10px
}